
    title{
        text-align:center;
        color: black;
      }


    h1{
        text-align: center;
        border: brown;
        background-color: darkgray;

    }

    ul  {

        border: 30px solid;
        background-color: crimson;

    }
li{
    text-align: center;
    color: black;
    padding: 14px 16px;
}
