
    title{
        text-align:center;
        
      }


     body{
          background-color: darkgrey;
          border: 20px;
      }
    h1{
        text-align: center;
        
     
        
        margin: 10px 10px 10px 10px;


    }

  
nav ul {
    
    text-align: left;
   background-color: indianred;
    border: solid;

}
nav ul li{
   background-color: palevioletred;
   padding: 10px 10px 10px 10px;
}

ul {
    border:5px solid;
    text-align: center;
    color: black;
    padding: 15px 15px 15px 15px;
    margin-left: 35px;
    background-color: slategrey;
}